<%- include("partials/header"); -%>

<h1>Contact Me!</h1>
<p><%= contactContent %></p></p>

<div class="icons">
  <a href="https://twitter.com/xfinny16">
    <i class="social-icon fab fa-twitter fa-7x"></i>
  </a>
  <a href="mailto:midnight.rose49@gmail.com">
    <i class="social-icon far fa-envelope fa-7x"></i>
  </a>
</div>

<%- include("partials/footer"); -%>
